*
{
  margin: 0px;
  padding: 0px;
}
body
{
background-image:url("../images/tribute.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.menu-bar
{
  background:CYAN;
  text-align: left;
  border:3px solid black;
  height: 80px;
}
.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color:GRAY;
  margin-left:400px;
}
.menu-bar ul li 
{
  width: 120px;
  margin:10px;
  padding:15px;
}
.menu-bar ul li a
{
  text-decoration: none;
  color:BLACK;

}
.menu-bar ul li :hover
{
  background:YELLOW;
  border-radius: 3px;
  width: 50px;
  height: 30px;
  color:CYAN;
}

.active ,.menu-bar ul li :hover
{
  background: linear-gradient(to bottom, #ff33cc 0%, #3399ff 100%);
  border-radius:3px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;

}
.sub-menu-1{
display: none;
}
.menu-bar ul li :hover .sub-menu-1
{
  display: block;
  position: absolute;
  background: GRAY;
  margin-top: 80px;
  margin-left:15px;
}
.img2{
  border: 1px solid yellow;
  background: linear-gradient(90deg, rgba(2,40,36,1) 0%, rgba(2,0,36,1) 94%, rgba(2,0,36,1) 100%);
  width: 50px;
  height: 50px;
  border-radius:150px;
  margin-top:-65px;
  left:1%;
  position:absolute;
}
.img3{
  border: 1px solid yellow;
  background: linear-gradient(90deg, rgba(2,40,36,1) 0%, rgba(2,0,36,1) 94%, rgba(2,0,36,1) 100%);
  width: 50px;
  height: 50px;
  border-radius:150px;
  margin-top:-65px;
  right:1%;
  position:absolute;
}
.list
{
  font-size: 20px;
  font-family: monospace;
}
.list:hover
{
  background: linear-gradient(to bottom, #ff33cc 0%, #3399ff 100%);
  border-radius:3px;
  font-size: 20px;
  font-family: monospace;
  color:CYAN;
}
.zoro
{
  margin-top: 100px;
  margin-left: 930px;
  background:GREEN;
  border-radius:30px;
}
.desc
{
   color:WHITE;
  font-size: 50px;
  font-family: monospace;
  margin-top:-400px;
  margin-left: 30px;
  position: absolute;
  text-shadow: 3px 3px red;
}
.desc1
{
  color:WHITE;
  font-size: 20px;
  font-family: monospace;
  margin-top:-300px;
  margin-left: 30px;
  text-shadow: 1px 1px red;
}
.video
{
  margin-top: 50px;
  margin-left:280px;
  width:800px;
  height:500px;
}
.dropbtn {
  background: CYAN;
  color: BLACK;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background: linear-gradient(to bottom, #ff33cc 0%, #3399ff 100%);
  border-radius:3px;
  color:CYAN;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: RED;
  min-width: 280px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: monospace;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius:3px;
}

.dropdown-content a {
  color:CYAN;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius:3px;
}

.dropdown a:hover 
{
  background-color: BLUE;
  border-radius:3px;
}

.show 
{
  display: block;
}
.con1
{
  font-family: monospace;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
}
.con1:hover
{
  background: linear-gradient(to bottom, #ff33cc 0%, #3399ff 100%);
  border-radius:3px;
  font-size: 20px;
  font-family: monospace;
}
